2020_11_04_CPJUMP1_U2OS_Standard_same_none_normalized_feature_select_outlier_trimmed_sim_pearson.parquet
2020_11_04_CPJUMP1_U2OS_Standard_same_none_normalized_feature_select_outlier_trimmed_sim_pearson_collated.parquet
2020_11_04_CPJUMP1_U2OS_Standard_same_cell_line-experiment_condition-experiment_type-timepoint_normalized_feature_select_outlier_trimmed_sim_pearson.parquet
2020_11_04_CPJUMP1_U2OS_Standard_same_cell_line-experiment_condition-experiment_type-timepoint_normalized_feature_select_outlier_trimmed_sim_pearson_collated.parquet
